# directories
**/bin/
**/obj/
**/out/
**/mssql/

# files
Dockerfile*
*.md
**/README.md
**/README.MD
**/readme.md
*.db
.env

**/global.json
**/Dockerfile*
**/.dockerignore*
**/*.user

web/root/.aspnet/DataProtection-Keys/*.xml
data/mssql/data/*.*